<footer id="footer">
    <div class="footer-links">
        <a href="/pages/terms-of-service" class="footer-link">Terms of Service</a>
        <a href="/pages/legal-notice" class="footer-link">Legal Notice</a>
        <a href="/pages/privacy-policy" class="footer-link">Privacy Policy</a>
        <a href="/pages/refund-policy" class="footer-link">Refund Policy</a>
        <a href="/pages/contact-information" class="footer-link">Contact Information</a>
    </div>
    <div class="ultimate-badges"></div>
</footer>
