<footer id="footer">
    <div class="footer-links">
        <a href="/pages/terms-of-service" class="footer-link">Terms of Service</a>
        <a href="/pages/legal-notice" class="footer-link">Legal Notice</a>
        <a href="/pages/privacy-policy" class="footer-link">Privacy Policy</a>
        <a href="/pages/refund-policy" class="footer-link">Refund Policy</a>
        <a href="/pages/contact-information" class="footer-link">Contact Information</a>
    </div>
    <div class="payment-icons">
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-amex"></i>
        <i class="fab fa-google-pay"></i>
        <i class="fab fa-apple-pay"></i>
        <i class="fab fa-cc-bancontact"></i>
        <i class="fab fa-cc-ideal"></i>
        <i class="fab fa-cc-maestro"></i>
        <i class="fab fa-shopify"></i>
        <i class="fab fa-cc-unionpay"></i>
        <i class="fab fa-cc-paypal"></i>
    </div>
</footer>
