<header>
    <div class="logo">
        <a href="{{ shop.url }}"><img src="{{ 'logo.png' | asset_url }}" alt="Logo de la tienda"></a>
    </div>
    <nav>
        <ul>
            <li><a href="{{ shop.url }}#inicio">Inicio</a></li>
            <li><a href="{{ shop.url }}#productos">Productos</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="header-icons">
    <select class="selector-idioma">
        <option value="es">ES</option>
        <option value="en">EN</option>
    </select>
    <select class="selector-divisa">
        <option value="eur">€</option>
        <option value="usd">$</option>
    </select>
    <i class="fas fa-user"></i>

    {% render 'cart' %}
    </div>
</header>