#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    clear: both;
}

.footer-links {
    padding-bottom: 0.25rem;
    text-align: center;
}

.footer-link {
    color: var(--secondary-color);
    padding: 0 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: transform var(--transition-time);
}

.footer-link:hover {
    transform: scale(1.05);
}

.ultimate-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    #footer {
        padding: 0.5rem;
    }
    
    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 0 0.5rem;
    }
    
    .footer-link {
        margin: 0;
        font-size: 0.9rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .ultimate-badges img {
        max-width: 30px;
    }
}

@media screen and (min-width: 769px) {
    .footer-links {
        display: flex;
        justify-content: center;
    }
    
    .footer-link {
        font-size: 1rem;
    }
}