:root {
    --primary-color: #C19A6B;
    --secondary-color: #f5f5f5;
    --hover-color: #B87333;
    --font-color: var(--secondary-color);
    --dark-font-color: #000;
    --transition-time: 0.5s ease;
    --dark-color: #000; /* Added for dark color consistency */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    font-weight: 700;
}

.logo {
    flex: 1;
    margin-left: 1rem;
}

.logo img {
    width: 15%;
    height: auto;
    transition: transform var(--transition-time);
}

.logo img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    flex: 2;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2rem;
    transition: color var(--transition-time);
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width var(--transition-time);
}

nav ul li a:hover {
    color: var(--font-color);
}

nav ul li a:hover::after {
    width: 100%;
}

.header-icons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    margin-right: 1rem;
}

.header-icons i,
.header-icons select {
    color: var(--secondary-color);
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color var(--transition-time);
}

.header-icons i:hover,
.header-icons select:hover {
    color: var(--dark-color);
}

.cart-icon-container {
    position: relative;
    cursor: pointer;
}

.language-switcher,
.currency-switcher {
    display: inline-flex;
    gap: 5px;
}

.lang-btn,
.currency-btn {
    padding: 5px 10px;
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color var(--transition-time);
}

.lang-btn:hover,
.currency-btn:hover {
    background-color: var(--dark-font-color);
    color: var(--font-color);
}

.lang-btn.active,
.currency-btn.active {
    background-color: var(--hover-color);
    color: var(--font-color);
}
