:root {
    --primary-color: #C19A6B;
    --secondary-color: #f5f5f5;
    --hover-color: #B87333;
    --font-color: var(--secondary-color);
    --dark-font-color: #000;
    --transition-time: 0.5s ease;
    --dark-color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: 700;
    clear: both;
}

.logo {
    flex: 1;
    margin-left: 1rem;
}

.logo img {
    width: 12%;
    height: auto;
    transition: transform var(--transition-time);
}

.logo img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    flex: 2;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

nav ul li {
    margin: 0 0.7rem;
}

nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
    padding-bottom: 0.2rem;
    transition: color var(--transition-time);
}

nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width var(--transition-time);
}

nav ul li a:hover {
    color: var(--font-color);
}

nav ul li a:hover::after {
    width: 100%;
}

.header-icons {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
    margin-right: 1rem;
}

.header-icons i,
.header-icons select {
    transition: transform var(--transition-time);
    background: none;
    border: none;
    font-size: 1.4rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.header-icons i:hover,
.header-icons select:hover {
    transform: scale(1.1);
}

.cart-icon-container {
    position: relative;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--secondary-color);
    font-size: 1.8rem;
    cursor: pointer;
    transition: transform var(--transition-time);
}

@media screen and (max-width: 768px) {
    header {
        position: fixed;
        justify-content: space-between;
        padding: 1rem 0.5rem;
        transition: transform 0.3s ease-in-out;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: auto;
        z-index: 1001;
    }

    .logo img {
        width: 100%;
        max-width: 50px;
        min-width: 25px;
        height: auto;
        margin: auto;
    }

    .menu-toggle {
        display: flex;
        margin-left: 0.5rem;
        position: relative;
        z-index: 1001;
    }

    .header-icons {
        margin-right: 0.5rem;
        position: relative;
        z-index: 1001;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        text-align: center;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background-color: var(--primary-color);
        padding: 2rem;
        z-index: 1000;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-menu.nav-open {
        transform: translateY(0);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    }

    .nav-menu li {
        margin: 1rem 0;
        text-align: center;
        justify-content: center;
        margin: auto;
        align-items: center;
    }

    nav {
        flex: 0;
    }
}

@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}