<link rel="stylesheet" href="{{ 'information.css' | asset_url }}">

<div class="page-content">
    <h1>Legal Notice</h1>
    
    <p>This is the legal notice for our website...</p>

    <h2 class="section-title">General Information of the Website</h2>
    <p>This website, petsplanet.com, is operated by Pets Planet.</p>
    <p>We are located at Carrer Ignasi Mas, 22, Barcelona, Spain.</p>
    <p>Our contact email is: <a href="mailto:petsplanethelp@gmail.com">petsplanethelp@gmail.com</a>.</p>

    <h2 class="section-title">Terms of Use</h2>
    <p>Access to and use of this website implies acceptance of the terms and conditions set forth in this legal notice. We reserve the right to modify, suspend, or interrupt the operation of this service at any time, without prior notice.</p>
    <p>By using this website, the user agrees not to engage in any activity that may damage, disable, or overload the website.</p>

    <h2 class="section-title">Intellectual Property</h2>
    <p>All content on this website, including texts, images, graphics, logos, icons, videos, and software, is the property of Pets Planet or its content providers and is protected by copyright and other intellectual property laws. Unauthorized use of the content may violate intellectual property laws.</p>

    <h2 class="section-title">Liability</h2>
    <p>Accessing the website and using its content is the sole responsibility of the user. Pets Planet is not liable for any damages resulting from the use of the website, nor for any damage to the user’s computer equipment due to viruses, technical failures, or any other cause.</p>
    <p>We are also not responsible for the content, services, or products of third-party websites that may be accessed through external links from our site.</p>

    <h2 class="section-title">Personal Data Protection</h2>
    <p>Pets Planet is committed to protecting user privacy. The personal data we collect is used solely to manage purchases and provide better service.</p>
    <p>You can find more details about how we handle your personal information in our Privacy Policy, available at the following link: <a href="/pages/privacy-policy">Privacy Policy</a>.</p>

    <h2 class="section-title">Applicable Law and Jurisdiction</h2>
    <p>This legal notice will be governed by Spanish law. Any dispute related to this legal notice will be resolved in the courts of Barcelona, Spain.</p>
</div>
