<link rel="stylesheet" href="{{ 'information.css' | asset_url }}">

<div class="page-content">
    <h1>Contact Information</h1>
    <p>If you need to contact us, you can reach us via email at petsplanethelp@gmail.com.</p>
    <p>Or visit us at: Carrer Ignasi Mas, 22, Barcelona, Spain.</p>

    <h2>Contact Information Policy</h2>
    <p>At Pets Planet, we are committed to providing quality customer service. If you have any questions, inquiries, or issues related to your orders, products, or any other matter, we are here to assist you.</p>

    <h3>How to contact us?</h3>
    <p>You can contact us through the following methods:</p>
    <ul>
        <li>Email: Send an email to <a href="mailto:petsplanethelp@gmail.com">petsplanethelp@gmail.com</a> for general inquiries, order assistance, or any other questions.</li>
        <li>Phone: Currently, we do not have a landline phone number, but if necessary, you can reach us by email.</li>
        <li>Physical Address: If you wish to send us correspondence, you can do so at our address: Carrer Ignasi Mas, 22, Barcelona, Spain.</li>
    </ul>

    <h3>Response to inquiries</h3>
    <p>We are committed to responding to all inquiries within a maximum of 48 business hours. Our customer service team is available Monday through Friday during office hours.</p>

    <h3>Business Hours</h3>
    <ul>
        <li>Email: Available 24/7, with a response time of up to 48 business hours.</li>
        <li>Phone: We do not have a phone number yet, so we recommend contacting us via email.</li>
    </ul>

    <h3>Privacy Policy</h3>
    <p>All the data you provide to contact us will be handled in accordance with our <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</p>
</div>
